@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";


@font-face {
  font-family: 'Cinzel';
  src: url('/fonts/Cinzel-Regular.ttf') format('ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Audiowide';
  src: url('/fonts/Audiowide-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-Regular.ttf') format('truetype');
  font-style: normal;
}

:root {
  --foreground: #ffffff;
}

html, body {
  height: 100%;
}

body {
  color: var(--foreground);
  font-family: sans-serif, Helvetica;
  box-sizing: border-box;
}

body::selection{
  background: #FF0099;
  color: black;
  text-shadow: none;
}

/* Landing page */

.logo {
  position: relative;
  transform: translate(5px, 2px);
  font-family: "Cinzel";
}

#landing_page{
  font-family: "Cinzel";
}

#landing_page p {
  font-family: "Nunito";
}

/* Section 4 - Homepage */
@property  --cg-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.animated-Card::before {
  content: "";
  position: absolute;
  width: 95%;
  height: 97%;
  background-color: #FFF;
  border-radius: 0.5rem;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
}

.animated-Card::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: conic-gradient(
  from var(--cg-angle),
  #7d5a00,
  #c8960c,
  #ffd700,
  #fff5cc,
  #ffd700,
  #c8960c,
  #7d5a00
  );
  border-radius: 0.5rem;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -2;
  animation: 4s gradient-spin linear infinite;
}

@keyframes gradient-spin {
  from {
    --cg-angle: 0deg;
  }
  to {
    --cg-angle: 360deg;
  }
}

/* ballbuds */
#ballbuds_page {
  font-family: "Audiowide";
}

#ballbuds_page p {
  font-family: "Nunito";
}

.footerh1 {
  font-family: "Cinzel";
}

.bb_section_1, .bb_section_2, .bb_section_3 {
  /* Hide All Scrollbars */
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#ballvuds_page .logo {
  font-family: "Cinzel";
}

/* Lenis */
html.lenis, html.lenis body {
 height: auto;
}
.lenis.lenis-smooth {
 scroll-behavior: auto !important;
}
.lenis.lenis-smooth [data-lenis-prevent] {
 overscroll-behavior: contain;
}
.lenis.lenis-stopped {
 overflow: hidden;
}
.lenis.lenis-smooth iframe {
 pointer-events: none;
}